Binaries/
DerivedDataCache/
Intermediate/
Saved/
.vs/
Saved/Logs/SeasonSwitchVR.log
Content/VRTemplate/Maps/VRTemplateMap.umap
Saved/Config/CrashReportClient/UECC-Windows-C858A8E743F65072070C00BE0529B5A6/CrashReportClient.ini
/Saved/Config/CrashReportClient/UECC-Windows-C858A8E743F65072070C00BE0529B5A6
